.wrapper {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 10%;
}

h1 {
    color: wheat;
}

.multipleResultContainer {
    width: 50%;
    margin-top: 30px;
    margin-left: 380px;
    background-color: rgba(256,256,256,.5);
    text-align: center;
}

.listMultiple {
    list-style-type: none;
    margin: 0;
    padding: 0;
}