.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: auto;
    display: block;
    width: 50%;
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(256,256,256,.5);
}

.name {
    text-align: center;
}

.status {
    margin-top: 20px;
    text-align: center;
}

.detail {
    margin-left: 5%;
}