.title-reviews {
    margin-left: 2%;
}

.reviews {
    margin-top: 30px;
}

.review {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: auto;
    display: block;
    width: 90%;
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(256,256,256,.5);
}

p {
    margin-left: 2%;
}